DFNS_API_URL=https://api.dfns.io
DFNS_AUTH_TOKEN=
DFNS_CRED_ID=
DFNS_PRIVATE_KEY_FILE=./dfns-service-account.pem
# optional
DFNS_MASTER_KEY_ID=
DFNS_WALLET_ID=
DFNS_NETWORK=EthereumSepolia
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
DEMO_AMOUNT_ETH=0.0001
